<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/VjezbeW4D1/src/ba/bitcam/vjezbe/W04d01/Task1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ba.bitcam.vjezbe.W04d01.Task1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="VjezbeW4D1"/>
</launchConfiguration>
